body {
	background-color:#ffffff;
	-webkit-background-size: 1024px 768px;
	-moz-background-size: 1024px 768px;
	-o-background-size: 1024px 768px;
	background-size: 1024px 768px;
	font-family: 'Proxima Nova', sans-serif;
 	font-size: 14px;
}

a:link              {color: #555555;text-decoration: none;}
a:visited           {color: #555555;text-decoration: none;}
a:active            {color: #555555;text-decoration: none;}

table,
td,
th {
  border: solid 1px silver;
  color:#000000;
  padding:5px;
  font-size:12pt;
  text-align: left;
  }

table {
  border-collapse:collapse;
      width: 100%;
  }

table tr {
  background-color:#eee;
  }

table td, table th{
    border:1px solid #fff;
    }
    
th {
  background-color:#aaaaaa;
  color:#000000;
  }
  
 td {
  background-color:#cccccc;
  color:#000000;
  }
  
#logo {
	color: #ffffff;
	text-align: left;
	font-style: bold;
	background-color: #ffffff;
	position:fixed;
	top:0px;
	left:0px;
	width:20%;
	height: 69px;
	border:1px solid #dddddd;
	z-index:20;
}

#logoimg {
	position:fixed;
	left : 5px;
	top : 10px;
}

#searchinput {
	padding-top: 20px;
	padding-left: 0px;
	color: #ffffff;
	text-align: left;
	font-style: bold;
	background-color: #ececec;
	position:fixed;
	left : -3px;
	top:70px;
	bottom:0px;
	width: 20%;
	z-index:13;
	border:1px solid #dddddd;
}


#searchoutput {
	color: #666666;
	text-align: center;
	font-style: bold;
	background-color: #ffffff;
	position:absolute;
	right : 0px;
	top:70px;
	width: 80%;
	border:0px solid #dddddd;
	z-index:12;
}

#summary {
	color: #000000;
	font-style: bold;
	font-size: 16px;
	background-color: #ffffff;
	position:fixed;
	right : 0px;
	top:0px;
	height: 69px;
	border:1px solid #dddddd;
	width:80%;
	opacity: 0.87;
	z-index:20;
}

#summarytext {
	position:relative;
	top: 25px;
	left: 20px;
}

#notificationshort, #notificationlong {
	background-color:#eeeeee;
	border-top: 2px solid #bbbbbb;
	border-radius: 4px;
	color: #666666;
	padding: 4px 10px 1px 10px;
	font-size : 20px;
	font-style : bold;
	position: fixed;	
	height:30px;
	top: -40px;
	right: 30px;
	opacity: 1;
}

#itempage {
	color: #ffffff;
	background-color: #eeeeee;
	position:fixed;
	left : 0px;
	top:0px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index:100;
}

#wordpressoverview {
	color: #000000;
	background-color: #eeeeee;
	position:fixed;
	left : 0px;
	top:0px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index:100;
}



#audio {
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.8);
	position:fixed;
	left : 0px;
	top:0px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index:100;
}

#iteminfo {
	text-align: left;
	color: #ffffff;
	font-size:11pt;
	background-color: rgba(0,0,0,0.8);
	position:fixed;
	left : 0px;
	top:0px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index:100;
}


#video1 {
	position:absolute;
	left: 30px;
	top: 30px;
	width: 320px;
	height: 240px;
}

#audio1 {
	position:absolute;
	left: 30px;
	top: 30px;
	width: 320px;
	height: 240px;
}

#itempageright {
	position:absolute;
	background-color: #cccccc;
	left: 360px;
	top: 30px;
	right: 30px;
	height: 240px;
}

#itempageunder {
	position:absolute;
	background-color:  #cccccc;
	left: 30px;
	right: 30px;
	top: 280px;
	bottom: 30px;
}


#login {
	background-color: #3c3c5c;;
	color: #AAA9FB;
	position:absolute;
	top:5%;
	left:50%;
	width:600px;
	height:200px;
	padding: 3px;
	margin:0px 0 0 -300px;
	border:1px solid #1c1c3c;;
	opacity: 0.9;
}

#searchinput_searchkeyd {
	right: 10px;
	padding-left: -20px;
}


#searchinput_searchkey {
  position: relative;
  display: block;
  width: 87%;
  left: -14px;
  height: 25px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.item {
	position:relative;
	display:inline;
	align:center;
	}
	
.itemoverlay {
	color: #ffffff;
	position:absolute;
	bottom: 00px;
	left: 0px;
	right: 0px;
	padding: 3px;
	background-color: rgba(0,0,0,0.6);
}

.select-wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  height: 40px;
  right: 15px;
  top: 0px;
  font-size: 1em;
  color: #94979c;
}

.select-sort-wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  height: 40px;
  right: 15px;
  top: 0px;
  font-size: 1em;
  color: #94979c;
}

.select-wrap select {
  background: transparent;
  padding: 10px;
  font-size: 1em;
  border: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 110%;
  color: #434343;
}

.select-wrap select option {
  background: #fff;
  color: #434343;
}

.select-sort-wrap {
  width: 50%;
  overflow: hidden;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  height: 40px;
  right: 15px;
  top: 0px;
  font-size: 1em;
  color: #94979c;
}

.select-sort-wrap select {
  background: transparent;
  padding: 10px;
  font-size: 1em;
  border: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 110%;
  color: #434343;
}

.select-sort-wrap select option {
  background: #fff;
  color: #434343;
}

.select-dir-wrap {
  width: 43%;
  overflow: hidden;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  height: 40px;
  right: -50%;
  top: -42px;
  font-size: 1em;
  color: #94979c;
}

.select-dir-wrap select {
  background: transparent;
  padding: 10px;
  font-size: 1em;
  border: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 110%;
  color: #434343;
}

.select-dir-wrap select option {
  background: #fff;
  color: #434343;
}

.form-group {
  margin-bottom: 0px;
  margin-left: 30px;
}

.icon-chevron-down {
  position: relative;
  width: 18px;
  height: 18px;
  background: url('http://images1.noterik.com/euscreen/sprite.png') -54px 0 no-repeat;
  right: -80%;
  top: -27px;
}

.icon-chevron-down-sort {
  position: relative;
  width: 18px;
  height: 18px;
  background: url('http://images1.noterik.com/euscreen/sprite.png') -54px 0 no-repeat;
  right: -30%;
  top: -67px;
}

.icon-chevron-down-dir {
  position: relative;
  width: 18px;
  height: 18px;
  background: url('http://images1.noterik.com/euscreen/sprite.png') -54px 0 no-repeat;
  right: -80%;
  top: -85px;
}

label {
  font-size: 0.7em;
  color: #777;
  font-weight: normal;
  letter-spacing: 1.2px;
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 2px;
}




#pager {position: absolute; left:100px;right:100px;top:120px;visibility: hidden;}
.pager {width: 300px; height: 50px; margin: 0 auto;}
.pager .info {width: 200px; height: 50px; font-size: 13px; float: left; text-align:center;}
.pager .info span {font-size: 13px; font-weight: bold;}
.pager a {font-size: 13px; float: left;}
