<table><tr><td>
Login preview tool<br /></br>
<form id="login_form" type="submit">
account<br />
<input type="text" size="20" id="login_account" /><br />
password<br />
<input type="password" size="20" id="login_password" />
<br />
<input type="submit" value="login" /></form>
<br />
<a href="">forgot password</a>
</td>
<td>
No account yet ? Sign up !<br /><br />
<form id="signup_form" type="submit">
account<br />
<input type="text" size="20" id="signup_account" /><br />
email<br />
<input type="text" size="20" id="signup_email" /><br />
password and repeat password<br />
<input type="password" size="20" id="signup_password" />
<input type="password" size="20" id="signup_repeatpassword" />
</br>
<input type="submit" value="sign up" /></form>

</td></tr>
</table>