<div id="logopart">
	<img id="logoimg" src="http://images1.noterik.com/euscreen/euscreen_preview_logo.png" />
	<div id="portalbutton"><a href="http://www.euscreen.eu"><img src="http://images1.noterik.com/euscreen/portalbutton.png" border="0" /></a></div>
</div>
<div id="loginwindow">
	<div class="tab-content">
		<div class="tab-pane active" id="signin">
			<form id="login_form" type="submit">
			<div id="login_account_div">
			<div id="account-label">Account</div>
			<input class="form-control" type="text" id="login_account" />
			</div>
			
			<div id="login_password_div">
			<div id="password-label">Password</div>
			<input class="form-control" type="password" id="login_password" />
			</div>
			<input id="signinbutton" type="image" src="http://images1.noterik.com/euscreen/signinbutton.png" alt="Submit Form" /></form>
 
   		</div>
    	<div class="tab-pane " id="signup">
    		SIGNUP
    	</div>
	</div>
</div>



