<div class="intro-text">
	 <h3>Welcome to EUscreen Preview Tool</h3>
	 <p>
		  This tool is for content providers in the EUScreen project to preview and control the content items that will be 
		  shown on the EUScreen portal. Its still in development and so expect more changes to be introduced soon. If you
		  have any problems or questions please contact Eve or Andrew to get support.
		  <br />
		  <br />
		  <a href="http://images1.noterik.com/euscreen/previewtool_screencast_beta.mp4">Basic instruction video for content providers</a>
	 </p>
</div>

<div onmouseup="eddie.putLou('','openwordpress()')">&nbsp;</div>
